/* You can add global styles to this file, and also import other style files */
body {
    background-color:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h3 {
    text-align:left;
}
div {
    text-align:left;
    display:inline;
}
ul {
    list-style-type:square;
}